body {
	font-family: "Microsoft YaHei", "FontAwesome";
	color: #fff;
}

ul,
li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
a:active,a:visited{
	text-decoration: none;
}
p,
a,
h5,
h4 {
	color: #666;
}

img.nav_sign_button1.img-responsive,
img.nav_sign_button2.img-responsive {
	display: inline;
}
img.prompt_banner {
	width: 100%;
	min-width: 1349px;
}
.prompt_box {
	position: relative;
}

.prompt_box,
header,
.contain_box,
footer {
	width: 100%;
}
header {
	background-color: #39acde;
	min-width: 1349px;
}
.breadcrumbs {
	width: 1349px;
	margin: 0 auto;
}
.prompt-seg {
	width: 1200px;
	margin: 0 auto;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}
.contain {
	margin: 0 auto;
	width: 1200px;
}
.contain_box {
	min-width: 1349px;
}
.footer-content {
	width: 1200px;
	margin: 0 auto;
}

.course_content {
	width: 100%;
}

.bussiness_name {
	width: 100%;
	margin: 0 auto;
}

.logo {
	display: inline;
}

ul.nav-list>li {
	display: inline;
}

ul.nav-list {
	display: inline-block;
}
ul.nav-list li a:hover {
	color: #39acde;
}
.ul-menu {
	background-image: url(../image/index/02nav/background.png);
	position: absolute;
	left: 22px;
	z-index: 120;
	width: 110px;
}

.carousel_topic span {
	display: inline-block;
}

.company_content {
	margin-bottom: 20px;
}

.business_content a {
	font-size: 15px;
	color: #fff;
}

.business_content a:hover {
	text-decoration: none;
}

p.business_contact {
	margin-left: 2%;
}

ul.nav-list li a {
	color: #666;
}

.partition ul li,
.recommend ul li,
.resource ul li,
.teacher ul li,
.student ul li,
.blog ul li,
.display ul li {
	float: left;
}

ul.ul-menu li a,
.carousel_topic ul li a {
	color: #fff;
	display: block;
}

ul.ul-menu li a {
	padding: 16px 0 0 0;
	text-align: center;
}

ul.ul-menu li:nth-child(4) {
	margin-bottom: 15px;
}

.news h5,
.news p {
	text-align: center;
	display: block;
}

.news ul {
	background-color: #eae9f3;
}

.carousel_topic {
	width: 20%;
	position: absolute;
	z-index: 100;
	font-size: 14px;
	background-color: rgba(56,64,64,0.87);
	height: 363px;
}

.partition ul>li:first-child {
	margin-left: 0;
}

.course_border {
	border: 1px solid #ccc;
	position: absolute;
	z-index: -1;
}

.course p {
	color: #666;
	text-align: center;
	font-weight: 400;
	margin-top: 11px;
	font-size: 14px;
}

.course_info_list p {
	display: inline-block;
}

p.more {
	position: absolute;
	display: inline-block;
	left: 90%;
}

.course_info {
	display: inline-block;
	border-left: 1px solid #ccc;
}

.course_block,
.partition,
.carousel_block,
.course,
.recommend,
.resource,
.course_content,
.teacher,
.student,
.blog,
.display,
footer {
	clear: both;
	position: relative;
}

.course_info.course_info_first .course_info_list p {
	margin-left: 28px;
}

.course_info.course_info_first {
	border-left: 0;
}

.resource_info_first ,
.recommend_info_first img,
.student_info_first img,
.blog_info_first img,
.display_info_first img {
	margin-left: 0!important;
}
.course_content_part{
	width:100%;
	margin:0 auto;
}
.recommend_info p,
.student_info p,
.blog_info p {
	text-align: center;
}

.resource_info a img {
	display: block;
	margin: 0 auto;
}

.course_content {
	background-color: #f0f0f0;
}

.topic,
.up,
.down {
	display: inline-block;
}

.up,
.down {
	position: absolute;
}

.up {
	z-index: 100;
}

.course_content,
.teacher_content,
footer {
	padding-top: 27px;
}

.teacher ul li img {
	position: relative;
	z-index: 100;
}

.teacher ul li:first-child {
	margin-left: 0!important;
}

.teacher_description {
	position: relative;
	z-index: 100;
	float: right;
}

.teacher_description p,
.teacher_description a {
	float: right;
}

.learn_more {
	color: #39acde;
}

.display_info_first img {
	padding-left: 0!important;
}

footer {
	background-color: #323232;
	height: 280px;
	min-width: 1349px;
}

footer a {
	color: #a7a7a7;
}

.link h4 {
	color: #fff;
	font-weight: 600;
}

.link_title {
	color: #a7a7a7;
	margin-left: 7%;
}

.info_text,
.info_text p {
	color: #fff;
	display: inline-block;
	font-weight: 300;
}

.information ul li{
	margin-right: 10px;
}
.information ul li p {
	margin-left: 2px;
	margin-bottom: 20px;
}

.address>p:nth-child(3) {
	margin-top: 10px;
}


.float_block {
	position: fixed;
	left: 7px;
	top: 280px;
	z-index: 130;
}

.float_block img {
	display: inherit;
	cursor: pointer;
}

img.line {
	position: absolute;
	top: 125px;
}
.prompt_button {
	margin-top: 20px;
}

.prompt_close {
	float: right;
}

.business_content {
	height: 40px;
	width:1200px;
	margin:0 auto;
}

.business_content p {
	color: #fff;
	font-size: 15px;
	display: inline-block;
	margin-top: 8px;
}

p.business_description {
	margin-left: 33%;
}

.col-xs-8 {
	width: 72.666667%;
	margin-left: -2%;
}

.col-xs-9 {
	margin-left: -1.3%;
}

.logo {
	max-width: 186px;
}
.navigation{
	width: 1349px;
	margin: 0 auto;
}
.navigation_content {
	margin: 0 auto;
	width:1200px;
}
.navigation .logo {
	max-width: 186px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.carousel_block {
	height: 286px;
}
img.nav_sign_button1.img-responsive,
img.nav_sign_button2.img-responsive {
	max-width: 75px;
	float: right;
	margin-top:18px;
	margin-right:20px;
}
.nav-list>li:nth-child(5) {
	position: relative;
}
ul.ul-menu span {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

ul.nav-list {
	display: inline-block;
}

ul.nav-list li a {
	font-size: 15px;
}

ul.nav-list>li {
	padding-left: 43px;
	padding-right: 43px;
}

.news_title {
	height: 37px;
	background-color: #39acde;
	margin-bottom: 0px;
	margin-top: 9px;
	color: white;
	line-height: 28px;
	font-weight: bold;
}

.carousel_pic img {
	width: 870px;
}

.news {
	margin-left: -2%;
	margin-right: -4.5%;
	margin-top: -10px;
}

.news ul:last-child {
	padding-bottom: 4px;
}

.news p {
	padding-top: 5px;
}

.news h5 {
	padding-top: 9px;
}
/*文字滚动的开始*/
.myscroll {
	background: #f6f6f6;
	height: 327px;
	border: 1px solid #ccc;
	line-height: 26px;
	font-size: 10px;
	overflow: hidden;
	width: 100%;
}

.myscroll ul {
	padding-left: 0px;
}

.myscroll li {
	height: 32px;
    text-align: center;
	color: #e9492b;
	list-style: none;
}

.myscroll a {
	text-decoration: none;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #333333;
}

.myscroll a:hover {
	color: #ED5565;
	text-decoration: underline;
}
/*文字滚动的结束*/
.carousel_topic span {
	padding:15px;
}

.carousel_topic ul li:first-child {
	margin-top: 70px;
}

.carousel_topic ul li:last-child {
	margin-bottom: 66px;
}

.partition ul li {
	max-width: 222px;
	margin-left: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.partition {
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 130px;
}

p.nation_info {
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.course_info_list a {
	margin-left: 13px;
}

.course_info_list p {
	font-size: 12px;
	margin-left: 35px;
}

.course_info_list a {
	margin-left: 10px;
	margin-right: 30px;
}

.course_border {
	width: 1183px;
	height: 177px;
}
.recommend {
	height: 302px;
}
.course_content_part h4{
	width:1200px;
	display: block;
	margin:0 auto;
}
.recommend h4,.resource h4 ,.course_content_part h4,.teacher h4,.student h4,.blog h4,.display h4{
	text-align: left;
	display: block;
	padding: 10px;
}
h4 {
	margin-bottom: 25px;
	color: #666;
	margin-top: 0px;
	font-weight: 700;
	display: inline-block;
}
.java,.bigdata,.front,.ui{
	width:1200px;
	margin:0 auto;
	margin-top: 20px;
}
.course {
	margin-bottom: 45px;
}

.recommend_info img,
.student_info img,
.blog_info img,
.resource_info img {

	max-width: 222px;
	margin-left: 21px;
}

.recommend_info p,
.student_info p,
.blog_info p {
	margin-top: -33px;
}

.recommend_info,
.student_info,
.blog_info {
	margin-bottom: 26px;
}

.resource_info a {
	display: inherit;
	margin-top: -42px;
	margin-left: 20px;
}

.resource_info {
	margin-bottom: 60px;
}

.course_content {
	padding-top: 27px;
}

.topic img {
	max-width: 220px;
	margin-bottom: 28px;
}

.up img,
.down img {
	max-width: 220px;
	margin-left: 17px;
}

.up,
.down {
	margin-left: 13px;
}

.down img {
	margin-top: 200px;
}

.teacher li img,
.teacher ul li {
	max-width: 388px;
	margin-top: -6px;
}

.teacher_description {
	max-width: 52%;
	float: right;
	margin-top: -200px;
	padding: 4px;
}

.teacher_description p,
.teacher_description a {
	font-size: 14px;
	text-indent: 13px;
}

.teacher_description h5 {
	font-size: 17px;
}
.teacher_description>h5:nth-child(2) {
	font-size: 15px;
}
.teacher ul li {
	margin-left: 15px;
}

.teacher ul li {
	margin-bottom: 30px;
}

.display_info img {
	max-width: 237px;
	margin-left: 2px;
	margin-bottom: 34px;
}

.information ul li p {
	margin-left: 17px;
	margin-bottom: 20px;
}
.information {
	clear: both;
	margin:  58px auto;
	margin-bottom: 0px;
}
.information li{
	float: left;
	text-align: left;
	
}
.information ul li{
	margin-right: 10px;
}
.information ul li p {
	margin-left: 2px;
	margin-bottom: 20px;
}
.information li:nth-child(3) img{
	width: 15px;
}
.information1 {
	clear: both;
	margin:  -15px auto;
	margin-bottom: 0px;
}

li.address p {
	display: block;
	padding-left: 24px;
	margin-top: -22px;
}

.right>p:nth-child(3) {
	position: absolute;
}

.resource ul>li:first-child {
	margin-left: -3px;
}

.course_content {
	height: 1800px;
	margin-bottom: 20px;
}

.am-slider-default .am-control-nav {
	width: 108%;
	position: absolute;
	bottom: 12px;
	text-align: center;
}

.am-slider-default .am-direction-nav .am-next {
	right: 3%;
	text-align: right;
}

.code img {
	position: absolute;
	top: 8px;
	left: 81%;
	max-width: 84px;
}

p.info_text.subscription {
	position: absolute;
	left: 80.4%;
	top: 92px;
}

.information.info_text.right {
	right: 10%;
}

.toright:hover,
.todown:hover {
	cursor: pointer;
}

.partition li img:hover {
	margin-top: -3px;
	box-shadow: 1px 2px 2px 1px #d5d4d4;
}

.up img:hover {
	margin-top: -9px;
	box-shadow: 5px 6px 4px #d5d4d4;
}

.down img:hover {
	margin-top: 190px;
	box-shadow: 5px 6px 4px #d5d4d4;
}

.course_info_list img:hover {
	width: 78px;
}

a:hover {
	text-decoration: none;
}

a:hover,
p.more:hover,
p.recommend_title:hover,
p.student_title:hover,
p.blog_title:hover,
ul.ul-menu a:hover {
	color: #39acde;
}

.prompt_close:hover {
	cursor: pointer;
}

.resource_info a img:hover {
	width: 78px;
}

.carousel_topic ul li a:hover {
	background-color: #39acde;
}

.am-slider-default .am-control-nav li {
	margin: 0 6px;
	display: inline-block;
}

.am-slider-default .am-direction-nav a.am-next:before {
	content: "\f138";
}

.am-slider-default .am-direction-nav a:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	transform: translate(0, 0);
	width: 100%;
	color: #333;
	content: "\f137";
	font-size: 24px!important;
	text-align: center;
	line-height: 36px!important;
	height: 36px;
}

.am-slider-default .am-direction-nav a {
	position: absolute;
	top: 50%;
	z-index: 10;
	display: block;
	width: 36px;
	height: 36px;
	margin: -18px 0 0;
	overflow: hidden;
	opacity: .45;
	cursor: pointer;
	color: rgba(0, 0, 0, .65);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.am-slider-default .am-control-nav li a:hover {
	background-color: #333;
	background-color: rgba(0, 0, 0, .7);
}

.am-slider-default .am-control-nav li a {
	width: 8px;
	height: 8px;
	display: block;
	background-color: #666;
	background-color: rgba(0, 0, 0, .5);
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}

.am-slider-default .am-control-nav li a.am-active {
	background-color: #0e90d2;
	cursor: default;
}

.admin-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #fff;
}

.am-icon-chevron-circle-left:before {
	content: "\f137";
}

.am-icon-chevron-circle-right:before {
	content: "\f138";
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.footer-text{
	text-align: center;
}
.footer-content1{
	margin-top: 10px;
}
.left{
	float:left
}
.showList:hover{
	cursor: pointer;
}
.bussiness_name a:hover{
	color:#333;
}
.link {
	margin: 0 auto;
	width: 100%;
}
.desc_cont{
	float: right;
}
footer a:hover{
	color:#fff;
}
.clicked{
	color:#333!important;
}
.prompt_seg_box {
	width: 140px;
	position: absolute;
	right: 298px;
}
a.am-prev {
	left: 22%;
}
.myscroll li a p{
	display: block;
	width:97%;
	margin:0 auto;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.myscroll li a:hover{
	text-decoration: none;
}
.myscroll li a p:hover{
	color:#39acde;
}
footer a:visited,footer a:active{
	text-decoration: none!important;
	color: #736c6c;
}
