body {
	font-family: "Microsoft YaHei", "FontAwesome";
	color: #fff;
}

.javaee_desc {
	margin-top: 40px;
	background-size:100%;
}
.FBanner a:nth-child(2) img {
	max-width: 20%;
	margin-left: 42%;
	margin-top: -182px;
}
.countdown p {
	margin-left: 8%;
	font-size: 15px;
}
.FBanner a:nth-child(2) img:hover {
	width: 19%;
	margin-left: 42.5%;
}


.javaee_desc p,
.javaee_desc h4 {
	color: #fff;
}

.javaee_desc p,
.javaee_desc h4 {
	text-align: center;
}

.javaee_desc,
.syllabus {
	position: relative;
}
.javaee_desc_block{
	width: 100%;
	position: absolute;
	top: 0;
}

.javaee_desc_block h4{
	width: 360px;
	display: block;
	padding-bottom: 5px;
	margin: 20px auto;
	padding-top: 40px;
	border-bottom: 3px solid #39acde;
}
.rotate{
	transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-webkit-transition: all 1s;
	position: relative;
}
.rotate:hover{
	transform: rotate(160deg);
	-moz-transform: rotate(160deg);
	-o-transform: rotate(160deg);
	-webkit-transform: rotate(160deg);
}
.rotate+p {
	font-size: 23px;
	width: 120px;
	display: block;
	left: 78px;
	top: 113px;
	/* margin-top: -138px; */
	position: absolute;
	z-index: 1000;
}
.syllabus h4 {
	width: 259px;
}
.javaee_desc_block ul li{
	float:left;
	margin-left: 18px;
}
.javaee_desc_block ul{
	width:1200px;
	margin:0  auto;
}
.javaee_desc_block ul li {
	position: relative;
}
.javaee_desc>img {
	width: 100%;
	min-width: 1349px;
}
.background img {
	width: 650px;
	margin: 0 auto;
	display: block;
}
.javaee_desc_content_block {
	width: 1200px;
	margin: 0 auto;
}
.background {
	position: absolute;
	bottom: 50px;
	width: 100%;
}
.countdown_block li a img:hover {
	width: 78px;
}