body {
    font-family: "Microsoft YaHei", "FontAwesome";
    color: #fff;
}

ul,
li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
a:hover{
    text-decoration: none;
}
nav,
.contain,
footer {
    width: 100%;
}

.contain_box {
    min-width: 1349px;
    margin: 0 auto;
}

.FBanner a:nth-child(2) img {
    max-width: 20%;
    margin-left: 42%;
    margin-top: -182px;
}

.FBanner a:nth-child(2) img:hover {
    width: 19%;
    margin-left: 42.5%;
}

.java_desc p,
.java_desc h4 {
    color: #fff;
}

.java_desc p,
.java_desc h4{
    text-align: center;
}

.FBanner {
    margin-bottom: 20px;
}
.java_desc,
.syllabus {
    position: relative;
}
.java_desc_block{
    position:absolute;
    top:20px;
}
img.inner {
    width: 170px;
    margin-top: -223px;
    margin-left: 15px;
}
img.outer {
    width: 200px;
}
.summary {
    margin-top: 40px;
    
}
.summary ul li{
    float: left;
}
.java_desc p {
    font-size: 30px;
    width: 79px;
    display: block;
    margin: 0 auto;
    margin-top: -162px;
}
.java_desc_block h4{
    width: 360px;
    display: block;
    padding-bottom: 5px;
    margin: 20px auto;
    border-bottom: 3px solid #39acde;
}
.java_desc {
    margin-top: 45px;
}
td>p {
    text-align: left;
    margin-left: 15px;
    width: 500px!important;
}
.syllabus h4 {
    width: 260px;
}
.countdown li {
    margin-bottom: 0px;
}