.ui_desc p,
.ui_desc h4 {
	color: #fff;
}
.ui_desc p,
.ui_desc h4,
.composition_desc h4,
.composition_desc p,
.skills_desc h4,
.skills_desc p {
	text-align: center;
}
.ui_desc,
.syllabus {
	position: relative;
}
.composition li,
.skills li{
	float: left;
}
.composition,
.skills{
	clear: both;
}

.composition {
	background-color: #f0f0f0;
	width: 100%;
}


.sign_button {
	max-width: 20%;
	margin-left: 42%;
	margin-top: -150px;
}

.sign_button:hover {
	width: 19%;
	margin-left: 42.5%;
}

.desc a {
	display: inline-block;
	margin-top: 42px;
	margin-left: 40%;
}

.composition img {
	margin-left: 9px;
}
.composition ul>li:first-child,
.skills ul>li:first-child {
	margin-left: -7px;
}

.composition_desc,
.skills_desc {
	margin-top: 50px;
	margin-bottom: 45px;
}

.composition {
	height: 570px;
}

.skills_logo ul {
	width: 1200px;
	margin: 0 auto;
}
.skills img {
	max-width: 163px;

}
.skills li{
	margin-left: 7.6%;
	margin-bottom: 60px;
}
.desc p,
.composition_desc p,
.skills_desc p {
	font-size: 16px;
}

.desc h4,
.composition_desc h4,
.skills_desc h4 {
	font-size: 23px;
}

.composition_desc {
	margin-top: 180px;
	padding-top: 40px;
}
.stu_composition {
	width: 1200px;
	margin: 0 auto;
}
a:hover{
	color:#fff!important;
}


td {
	text-align: center;
	padding: 10px;
}

td>p {
	text-align: left;
	margin-left: 15px;
	width: 600px;
}

tr>th:first-child {
	width: 120px;
}

tr>th:nth-child(2) {
	width: 120px;
}

/*马上报名特效*/
.img-bm{
	background: url(../image/index/05course/03.png) no-repeat;
	display: inline-block;
	margin-left: 20px;
	width: 98px;
	height: 27px;
	margin-top: -5px;
}
.img-bm:hover{
	background-position-y: -27px;
}
.left{
	float: left;
}
.clear{
	clear: both;
}
.countdown li {
	clear: both;
}
.countdown {
	margin-top: -20px;
}